@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

[data-theme="dark"]body,
[data-theme="light"]body {
  transition: 1s ease;
}

@layer base {
  :root {
    --color-bkg: 200deg 40% 86%;
    --color-gradient-1: 219deg 80% 78%;
    --color-gradient-2: 263deg 80% 78%;
    --color-blur-primary: 10deg 2% 4%;
    --color-text-1: 16 28 71;
  }

  @media (prefers-color-scheme: dark) {
    [data-theme="dark"]:root {
      --color-bkg: 219deg 97% 6%;
      --color-gradient-1: 277deg 40% 53%;
      --color-gradient-2: 0deg 87% 32%;
      --color-blur-primary: 10deg 0% 0%;
      --color-text-1: 255 255 255;
    }
  }
}
