.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.wrap {
  -webkit-backdrop-filter: blur(5px);
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid green;
  box-shadow: 0px 1px 50px rgba(11, 175, 11, 0.438);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  width: max-content;
}

.title {
  color: #fffcf9;
  font-family: var(--poppins-font);
  font-size: 2.5rem;
  font-weight: 700;
}

.buttonStyle {
  align-items: center;
  background: #1cac1c;
  border-radius: 0.3125rem;
  border: 2px solid #1a1a1a;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: var(--poppins-font);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  gap: 1.6rem;
  height: 2.9375rem;
  justify-content: center;
  line-height: normal;
  outline: none;
  transition: 0.2s;
  width: 11.3115rem;
}

.buttonStyle:hover {
  background-color: #168516;
}

.subtitle {
  color: #fffcf9;
  font-family: var(--poppins-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  vertical-align: text-top;
  width: 23.8125rem;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .subtitle {
    font-size: 0.75rem;
  }
}
